.promo {
  margin-bottom: 63px;
}

.promo__content {
  display: flex;
  column-gap: 24px;
  
  padding-top: 68px;
  padding-left: 120px;

  border-radius: 60px;
  background-color: #F4F6F5;
}

.promo__title {
  max-width: 480px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.25;
  margin-bottom: 40px;
}

.promo__title_lets {
  position: relative;
  display: inline-block;
}

.promo__title_lets::before{
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  bottom: 0;
  left: -40px;
  right: -160px;
  background-color: #fff;
  transform: rotate(-2deg);
}

.promo__title_lets span {
  position: relative;
}

.promo__title_unique {
  position: relative;
  display: inline-block;
}

.promo__title_unique::before{
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  bottom: 0;
  left: -40px;
  right: -110px;
  background-color: var(--yellow);
  transform: rotate(-2deg);
}

.promo__title_unique span {
  position: relative;
}

.promo__desc {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  margin-bottom: 32px;
}

.promo__btn_wrapper {
  display: flex;
  column-gap: 34px;
  align-items: center;
  margin-bottom: 90px;
}

.promo__btn_wrapper::before {
  content: " ";
  display: inline-block;
  width: 190px;
  height: 32px;
  background-image: url(./../../images/icons/decor-yellow.svg);
}

.promo__btn {
  border-radius: 10%;
  background: #000;

  padding: 18px 40px;

  font-weight: 500;
  font-size: 30px;
  line-height: 1.25;
}

.promo__btn a {
  color: #fff;
}