.application {
  margin-bottom: 220px;
}

.application__content {
  display: flex;
  justify-content: space-between;
}

.application__text {
  max-width: 510px;
  margin-top: 220px;
}

.application__text_title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}

.application__text_desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: -0.04em;
  margin-bottom: 65px;
}

.application__text_images {
  display: flex;
  justify-content: space-between;
}
